<html>

<head>
    <title>ptoject_1</title>
    <link href="./css/project_1.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6">
                <h1 class="text-center">you</h1>
                <div class="healthbar">
                    <div style="transition: width 1s;height:40px;background-color:green;margin:0;color:white;" :style="{width:playerHealth+'%'}">
                        {{playerHealth}}
                    </div>
                </div>
            </div>
            <div class="small-6">
                <h1 class="text-center">monster</h1>
                <div class="healthbar">
                    <div style="transition: width 1s;height:40px;background-color:green;margin:0;color:white;" :style="{width:monsterHealth+'%'}">
                        {{monsterHealth}}
                    </div>
                </div>
            </div>
        </section>
        <section class=" row controls" v-if='!gameIsRunning'>
            <div class="small-12 columns">
                <button id="start-game" @click='startGame'>start new game</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack">attack</button>
                <button id="special-attack" @click="specialAttack">special attack</button>
                <button id="heal" @click="heal">heal</button>
                <button id="give-up" @click="giveUp">give up</button>
            </div>
        </section>
        <section class="log" v-if="turns.length>0">
            <div class="small-12 columns">
                <ul>
                    <li v-for="(turn,index) in turns" :class="{'player-turn':turn.isPlayer,'monster-turn':!turn.isPlayer}">
                        <span v-if="!(turn.text.includes('win') || turn.text.includes('lose'))">turn[{{Math.floor((turns.length - index - 1)/2)+1}}]</span> - {{turn.text}}
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>

<script src="./vue.js "></script>
<script src="./build/buildproject_1.js "></script>

</html>